<div class="top-space">
  <button mat-raised-button (click)="undo()"><mat-icon>undo</mat-icon></button>
  <button mat-raised-button (click)="redo()"><mat-icon>redo</mat-icon></button>
</div>

<div class="container">
  <div class="card" *ngFor="let platform of platforms$ | async">
    <span>Platform ID: {{ platform.id }}</span
    ><br />
    <div *ngFor="let movie of platform.movies">
      <div class="input-container">
        <div class="input-fields">
          <div>
            <span class="width-50">Title:</span>
            <input type="text" (focusout)="editMovieTitle($event, platform.id, movie)" [value]="movie.title" />
          </div>
          <div>
            <span class="width-50">Rating:</span>
            <input type="text" (focusout)="editMovie($event, platform.id, movie)" [value]="movie.text" />
          </div>
        </div>
      </div>
    </div>
    <button class="add" mat-raised-button color="primary" (click)="addMovie(platform.id)">Add Title & Rating</button>
  </div>
</div>

<button mat-raised-button color="primary" class="add-platform" (click)="addPlatform()">Add Movie</button>

<h1>Changelog</h1>
<h2>1.2</h2>
<p>
  Changed how edit movie undo works, instead of change being of type key: string and value: string. I changed it to be
  [key: string]: string, and use object copy notation to make a copy of the current and original and then splice it in.
  To see actual implementation refer to to the platform reducer's undo actions. Below I have added an example of the
  logic.
</p>
<pre>
  <code>
    const movieCopy = &#123; ...movieCurrent, ...original &#125;
    platCopy.movies.splice(movieIndex, 1, movieCopy)
  </code>
</pre>
<h2>1.1</h2>
<p>
  Changed how undo redo functionality works. Now it does not calculate new state on undo from intial state. Instead it
  calculates it based on the payload. So if the payload is add, then it just removes the item from state. If the payload
  is edit, then it stores the original value, using a key and value. This is then used to transform the current value on
  undo, by using the original value and its key. Have alook at the platform reducer on undo action to learn more.
</p>
<h2>1.0</h2>
<p>
  Initial version of this app where you can see how undo redo functionality can work using NgRx. It works by storing
  each action as an undo action and then on undo, calculates state from initial state by iterating over all undo actions
  minus 1. It then stores the most recent undo action in the redo actions so you can go back to the most recent state.
  To learn more look at the platform reducer. It uses effects to handle creating these undo undo actions.
</p>
